{% load static %}
<footer>
  <div class='container-fluid bg-dark'>
    <div class='row justify-content-between p-3'>
      <div class='col-12 col-sm-6 text-center mt-4 text-light'>
        <h4>Check out the source</h4>
        <a href="https://github.com/TomiiPomii/Social-Media-Summary"><img width="150px" src="{% static 'images/github.png' %}"></a>
      </div>
      <div class='col-12 col-sm-6 text-center mt-4 text-light'>
        <h4>Contributors</h4>
        <ul class="list-group">
          <li class="list-group-item bg-dark"><a href="https://github.com/TomiiPomii" target="_blank">TomiiPomii</a></li>
          <li class="list-group-item  bg-dark"><a href="https://github.com/jaskoGer" target="_blank">Jasko</a></li>
          <li class="list-group-item bg-dark"><a href="https://github.com/richi0" target="_blank">Richie</a></li>
        </ul>
      </div>
  </div>
</footer>